@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300..700&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #445752;
  transition: .4s;
}

.--dark {
  background-color: #1e1f21 !important;
  color: lightgray !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}