.header {
    &__container {
        width: 81rem;
        max-width: 95%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link {
        cursor: pointer;
        transition: .2s;
        color: inherit;
        text-decoration: none;

        &:hover {
            opacity: .7;
        }
    }

}


@media only screen and (max-width: 640px) {
    .header {
        &__container {
            width: 90%;
            margin: 0 auto 1rem auto;
        }
    }
}